@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base{
    body{
        box-sizing: border-box;
        @apply bg-fb-gray;
    }
}

@layer components{
    .showToltip{

        &:hover &__child{
            display:block
        }

        &__child{
            display:none;
        }
    }
}