@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
    body {
        box-sizing: border-box;
        @apply bg-fb-gray;
    }

    p {
        font-size: 15px
    }
}

@layer components {
    .showToltip {

        &:hover &__child {
            display: block
        }

        &__child {
            display: none;
        }
    }

    .header__shadow {
        box-shadow: -2px 8px 5px -8px rgba(0, 0, 0, 0.15);
    }

    .img__fit {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }

    .general__shadow{
        box-shadow: -2px 8px 5px -8px rgba(0, 0, 0, 0.1);
    }

    .general__text{
        @apply text-[0.9rem] text-fb-gray1;
    }
    .general__border{
        @apply border-fb-gray4 border-opacity-60;
    }
}